{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="row justify-content-center  my-5" >
        <div class="col-8 mt-4 p-5" style="background-color: rgb(204, 110, 56);">
            <h2>Ürün Ekle</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
<!-- ---------------------------------------------------------------------------------(-_-) KATEGORI (-_-)----------------------------------------------------------------------------- -->
                <label for="exampleFormControlInput1" class="form-label">Ürün Kategorisi</label>
                <select class="form-select mb-3" name="category" aria-label="Default select example">
                    <option selected>Kategori Seç</option>
                    
                    {% for cat in categorylist %}
                    <option value="{{ cat.id }}">{{ cat }}</option>
                        
                    {% endfor %}
                        
                </select><br>
<!-- ---------------------------------------------------------------------------------(-_-) NAME (-_-)----------------------------------------------------------------------------- -->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ürün Adı</label>
                    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Ürün adı giriniz">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Ürüb Açıklaması</label>
                    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

<!-- ---------------------------------------------------------------------------------(-_-) PRICE (-_-)----------------------------------------------------------------------------- -->
                    <div class="mb-3">
                        <label for="validationCustom05" class="form-label">Fiyat</label>
                        <input type="number" name="price" class="form-control" id="validationCustom05" required>
                        
                    </div>
<!-- ---------------------------------------------------------------------------------(-_-) IMAGE (-_-)-------------------------------------------------------------------------------- -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Ürün Fotorafı</label>
                        <input class="form-control" name="image" type="file" id="formFile">
                    </div>

                    <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
{% endblock body %}
    